@charset "utf-8";

html { 
  background: url(pr1.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	color: #ffffff;
  font-family: 'Open Sans', sans-serif;
	font-size: 16px;

}

#login-form {
	background-color: #363636;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		
	margin: 150px auto;
	width: 330px;
  font-family: 'Open Sans', sans-serif;
	font-size: 16px;
  -webkit-box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
   box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  
}

#login-form h1 {
	background-color: #292829;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	color: #fff;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
	font-size: 14px;

}

#login-form fieldset {
	border: none;
	padding: 20px;
	position: relative;
}


#login-form fieldset form {
	overflow: hidden;
	width: 270px;
}

#login-form fieldset form input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	outline: none;
  -webkit-appearance:none;
  width: 260px;
 text-align:  center;
  position: center;
  

}

#login-form fieldset form input[type="email"] {
	border: 1px solid #292829;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	padding: 12px 10px;
	width: 238px;
  -webkit-appearance:none;
}

#login-form fieldset form input[type="password"] {
	border: 1px solid #292829;
	border-top: none;
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	padding: 12px 10px;
	width: 238px;
  -webkit-appearance:none;
}

#login-form fieldset form input[type="submit"] {
	background-color: #ebebeb;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #404040;
	cursor: pointer;
	float: none;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 12px;
  -webkit-appearance: none;
  
}

#login-form fieldset form input[type="submit"]:hover {
	background-color: #e0e0e0;
	
}

#login-form fieldset form span:before {
	background-color: #c9c9c9;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	content: "?";
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin-right: 10px;
	text-align: center;
	width: 20px;
	
}

#login-form fieldset form span {
	font-size: 12px;
	margin-top: 40px;
}

#login-form fieldset form span a{
	color: #eb6d1a;
	text-decoration: none;	
}

#login-form fieldset form span a:hover {
	color: #eb6d1a;
}


.vladmaxi-top{
	line-height: 24px;
	font-size: 11px;
	background: #eee;
	text-transform: uppercase;
	z-index: 9999;
	
	position: fixed;
	top:0;
	left:0;
	width:100%;
	font-family: calibri;
	font-size: 13px;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	-webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}
@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}

.vladmaxi-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	
	float: left;
	text-decoration:none;
}
.vladmaxi-top a:hover{
	background: #fff;
}
.vladmaxi-top span.right{
	float: right;
}
.vladmaxi-top span.right a{
	float: left;
	display: block;
}
body {  padding: 0;
    margin: 0;
    font-family: Tahoma, serif;
    background-size: cover;
    width: auto;
   
}

#table1 {  /*основная таблица*/
    width:1500px ;
	background: rgb(255, 255, 255); 
	height: 1px;
	margin-top: 50px;
}


.td1 {width: 30%;}
.td2 {width: 14%;}
.td3 {width: 8%;}
.td4 {width: 17%;}
.td5 {width: 50%;}

A{color:green;
text-decoration: none;}

#shapka {
font-size: 20px;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
color: green;
line-height: 30px;
padding: .5em .5em;
}

#button1 {/*кнопка записаться на занятие*/
    color: #fffcf1; 
    text-decoration: none; 
    user-select: none; 
    background:rgb(233, 238, 233); 
    padding: .1em .5em; 
    outline: none; 
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
} 
#button1:hover { background:rgb(69, 204, 69); } /* при наведении курсора мышки */
#button1:active { background:rgb(205, 214, 205); } /* при нажатии */

#logo {  /*название*/
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    color: green;
    line-height: 30px;
}

h8{
    text-align: center;
    margin-top: 55px;
  margin-left: 50px;
}
#table2{
    float: left;
    margin-left: 100px;
    border-radius: 10px;
    border-spacing: 100px;
    
    
}
h2{
    text-align: center;
    margin-top: 55px;
  margin-left: 100px;
}
h3{
    text-align: center;
    margin-top: 55px;
  margin-left: 250px;
  line-height: 1;
  width: 1000px;
	
  line-height: 1.7;
}
h4{
    margin-left: 150px;
}
p{
    font-size: 22  ;
    color: green;
}
p1{
    font-size: 15;
}
h5{margin-right: 250px;
    text-align: center;
font-size: 20;
}
h6{
    font-size: 18;
    margin-left: 50px;
    text-align: center;
}
h7{
    text-align: center;
font-size: 20;
}
